<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div class="page-container">

<article class="group">

<p class="page-title">Civil Procedure</p>
<p class="page-subtitle">An Open-Source Casebook</p>

<a href='{{ site.baseurl }}/assets/pdf/CivProBook.pdf'><button class='button syllabus smaller'>PDF</button></a>

<a href='{{ site.baseurl }}/casebook/preface'>Preface </a>

<a href='{{ site.baseurl }}/casebook/chap1'>Chapter 1: Foundations of Civil Procedure </a>

<a href='{{ site.baseurl }}/casebook/chap2'>Chapter 2: Joining Parties & Claims </a>

<a href='{{ site.baseurl }}/casebook/chap3'>Chapter 3: Subject Matter Jurisdiction </a>

<a href='{{ site.baseurl }}/casebook/chap4'>Chapter 4: Personal Jurisdiction </a>

<a href='{{ site.baseurl }}/casebook/chap5'>Chapter 5: Governing Law </a>

<a href='{{ site.baseurl }}/casebook/chap6'>Chapter 6: Pleading </a>

<a href='{{ site.baseurl }}/casebook/chap7'>Chapter 7: Claim & Issue Preclusion </a>

<a href='{{ site.baseurl }}/casebook/chap8'>Chapter 8: Discovery & Summary Judgment </a>

</article>

</div>

{% include hemline.html %}
	
</body>

</html>