/* HTML & BODY */
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Literata",serif;
	color: #191919;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.3;
	text-align: left;
	margin: 0 0 0 0;
	background-color: #fffaf0;
	quotes: "‘" "’";
}

/* HEADINGS */
/* Chapter */
h1 {
	font-family: "Adelle-Sans",sans-serif;
	color: #800000;
	font-size: 2.0rem;
	font-style: normal;
	font-weight: 600;
	line-height: 1.2;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: none;
}
/* Section */
h2 {
	font-family: "Adelle-Sans",sans-serif;
	color: #800000;
	font-size: 1.7rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.2;
	margin: 4rem 0 0 0;
	padding: 0 0 0 0;
	border: none;
}
/* Case, Statute, Rule, Note */
h3 {
	font-family: "Literata",serif;
	color: #800000;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1.3;
	margin: 2rem 0 .5rem 0;
	padding: 0 0 0 0;
	border-bottom: 1px solid #800000;
}
/* Case, etc. heading 1 */
h4 {
	font-family: "Literata",serif;
	font-size: 1.2rem;
	font-style: normal;
	font-weight: 500;
	line-height: 1.4;
	text-align: left;
	margin: 1.5rem 0 .5rem 0;
	padding: 0 0 0 0;
	max-width: 40rem;
	list-style: outside none none !important;
}

/* Case, etc. heading 2 */
h5 {
	font-family: "Literata",serif;
	font-size: 1.1rem;
	font-style: italic;
	font-weight: 300;
	line-height: 1.2;
	margin: 1rem 0 .5rem 0;
	padding: 0 0 0 0;
	max-width: 40rem;
	list-style: outside none none !important;
}

.title .chapter-number {
	color: #800000;
	font-size: inherit;
	margin-right: .5rem;
}

/* Body Text */
p {
	font-size: 1rem;
	margin: .5rem 0 .5rem 0;
	max-width: 40rem;
}

/* Links */
a {
	color: #002D72;
	text-decoration: none;
}
/* unvisited link */
a:link {
	color: #002D72;
}
/* visited link */
a:visited {
	color: #002D72;
}
/* mouse over link */
a:hover {
	color: #4b9cd3 !important;
}
/* selected link */
a:active {
	color: #002D72;
}
/* Wrap long URLs in references */
#refs a {
	word-wrap: break-word;
	overflow-wrap: break-word;
}

/* Blockquotes */
.blockquote {
	margin: .5rem 0 .5rem 0;
	padding: 0 2rem 0 2rem;
	max-width: 40rem;
	border: none;
}
.blockquote p {
	color: #191919;
	font-size: 0.9rem;
	font-style: normal;
	line-height: 1.3;
	max-width: 40rem;
}

/* Lists -- ul default is unstyled; use • for bullets */
ol, ul {
	padding-left: 1.5rem;
}
ul { 
	list-style-type: none;
}

/* Home Page */

.home {
	font-family: "Literata",serif;
	margin: 0 0 0 0;
	display: block;
}
.home h1 {
	font-family: "Adelle Sans", sans-serif;
	color: #800000;
	font-weight: 400;
	margin: 0 0 3rem 0;
}
.home h2 {
	font-family: "Literata",serif;
	color: #800000;
	font-size: 2rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	margin: 0 0 1.5rem 0;
	padding: 0 0 0 0;
}
.home h3 {
	font-family: "Literata", serif;
	color: #191919;
	font-size: 1.2rem;
	font-weight: 300;
	font-style: normal;
	margin: 0 0 .5rem 0;
	padding: 0 0 0 0;
	border: none;
}
.home section:target::before {
	content: "";
	display: none;
	height: 0;
	margin: 0 0 0 0;
}
.home h4 {
	font-family: "Literata", serif;
	color: #191919;
	font-size: 1.2rem;
	font-weight: 300;
	font-style: normal;
	margin: 0 0 .5rem 0;
	padding: 0 0 0 0;
}
.home h5 {
	font-family: "Literata", serif;
	font-size: 1.2rem;
	font-weight: 300;
	font-style: normal;
	margin:  0 0 0.2rem 0;
	padding: 0 0 0 0;
}

.home img {
	margin: 2rem 0 0 0;
}

/* Syllabus */
.syllabus {
	font-family: "Literata",serif;
	font-size: .8rem;
	margin: 0 0 0 0;
	display: block;
}
.syllabus h1 {
	font-family: "Adelle Sans", sans-serif;
	color: #800000;
	margin-top: 1.5rem;
	margin-bottom: 0rem;
}
.syllabus h2 {
	font-family: "Adelle Sans", sans-serif;
	color: #800000;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	margin: 2rem 0 0 0;
}
.syllabus h3 {
	font-family: "Literata", serif;
	color: #191919;
	font-size: 1.1rem;
	font-weight: 400;
	font-style: normal;
	margin: 1rem 0 0 0;
	border: none;
}
.syllabus h4 {
	font-family: "Adelle Sans", sans-serif;
	font-size: .7rem;
	font-weight: 400;
	font-style: normal;
	margin: 1rem 0 0 0;
}
.syllabus h5 {
	font-family: "Literata", serif;
	font-size: 0.8rem;
	font-weight: 300;
	font-style: normal;
	margin: 0.2rem 0 0rem 0;
}
.syllabus h6 {
	font-family: "Lft-Etica-Mono", monospace;
	font-size: 0.7rem;
	font-weight: 300;
	font-style: normal;
	margin: 0.2rem 0 0rem 0;
}
.syllabus-info {
	margin-bottom: 2rem;
}
.syllabus-info p {
	font-family: "Adelle Sans", sans-serif;
	font-size: 0.8rem;
	font-weight: 400;
	font-style: normal;
	margin: 0.2rem 0 0rem 0;
}
/*
.syllabus a {
	font-family: "Lft-Etica-Mono", monospace;
	font-size: .8rem;
}
	*/
.syllabus table {
	margin: 2rem 0 1rem 0;
	max-width: 100%;
}
.syllabus table p {
	font-size: 0.9rem;
	margin: 0 0 0 0; 
}
.syllabus th {
	font-size: 1rem;
	font-weight: 400;
}
.syllabus th p {
	font-size: 1rem;
	font-weight: 400;
}
.syllabus td {
	font-size: 1rem;
}
.syllabus td p {
	font-size: 1rem;
}
.syllabus table ol {
	margin: 0rem 0 0.5rem 0;
}
.syllabus table ol li {
	font-family: "Adelle Sans", sans-serif;
	font-size: 1rem;
	font-weight: 400;
}

/* Casebook Cover */

.cover {
	margin: 4rem auto 0 auto;
}

.cover h2 {
	font-family: "Adelle Sans", sans-serif;
	color: #800000;
	font-size: 2rem;
	font-weight: 400;;
	line-height: 1;
	margin: 0 0 1rem 0;
}
.cover h3 {
	font-family: "Adelle Sans", sans-serif;
	color: #800000;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1;
	margin: 0 0 1rem 0;
	border: none;
}

/* Frontispiece */

.frontispiece {
	margin: 4rem auto 0 auto;
}

/* Title page */

.titlepage {
	font-family: "Literata",serif;
	text-align: right;
	max-width: 40rem;

}
.titlepage h1 {
	font-family: "Literata",serif;
	color: #191919;
	font-size: 2rem;
	font-weight: 400;
	text-align: right;
	line-height: 1;
	margin: 4rem 0 2rem 0;
}
.titlepage h2 {
	font-family: "Literata",serif;
	color: #191919;
	font-size: 1.7rem;
	font-weight: 400;
	text-align: right;
	line-height: 1;
	margin: 2rem 0 4rem 0;
}
.titlepage h3 {
	font-family: "Literata",serif;
	color: #191919;
	font-size: 1.2rem;
	font-weight: 300;
	text-align: right;
	line-height: 1;
	margin: 4rem 0 4rem 0;
	border: none;
}
.titlepage section:target::before {
	content: "";
	display: none;
	height: 0;
	margin: 0 0 0 0;
}
.titlepage h4 {
	font-family: "Literata",serif;
	color: #191919;
	font-size: 1rem;
	font-weight: 300;
	text-align: right;
	line-height: 1;
	margin: 0 0 .5rem 0;
	border: none;
}
.titlepage h5 {
	font-family: "Literata",serif;
	font-size: 1.2rem;
	font-weight: 300;
	text-align: right;
	line-height: 1;
	margin: 0 0 1.5rem 0;
}
.titlepage .anchorjs-link {
	opacity: 0;
	text-decoration: none;
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
}

/* License */
.license {
	font-family: "Literata",serif;
	font-size: .8rem;
	margin: 8rem 0 0 0;
	display: block;
}
.license p {
	font-family: "Literata",serif;
	font-size: .8rem;
	margin: 0 0 0 0;
	display: block;
	max-width: 25rem;
}
.license-i {
	font-size: .9rem;
	margin: 0 .5rem 0 0;
	display: block;
}
.license h2 {
	font-family: "Literata",serif;
	color: #191919;
	font-size: .8rem;
	font-weight: 300;
	line-height: 1;
	margin: 4rem 0 .2rem 0;
	display: block;
}
.license h3 {
	font-family: "Literata",serif;
	color: #191919;
	font-size: .8rem;
	font-weight: 300;
	line-height: 1;
	margin: 0 0 .2rem 0;
	border: none;
	display: block;
}
.license h4 {
	font-family: "LFT-Etica Mono",monospace;
	font-size: .7rem;
	line-height: 1;
	margin: 0 0 1.5rem 0;
	display: block;
}

/* Epigraph */
/* Epigraph Quote */
.epigraph {
	margin: 8rem 0 0 0;
}
.epigraph-quote {
	font-size: .9rem;
	font-style: italic;
	text-align: left;
	line-height: 1.3;
	margin: 0.25rem 0 .25rem 0;
	padding: 0.35rem 2rem 0.35rem 1rem;
	position: relative;
	display: block;
}
.epigraph-quote:before {
	color: #800000;
	font-size: 80px;
	display: block;
	padding-left: 10px;
	content: "\201C";
	position: absolute;
	left: -2rem;
	top: -20px;
	display: block;
}
.epigraph-citation {
	font-size: .9rem;
	font-weight: 300;
	line-height: 1;
	text-align: right;
	margin: 0 0 1rem 0;
	padding: 0 4rem 0 2rem;
	display: block;
}

/* Preface */
.preface-h2 {
	font-family: "Adelle-Sans",sans-serif;
	color: #800000;
	font-size: 1.3rem;
	line-height: 1;
	margin: 1rem 0 0 0;
	display: block;
}
.preface-h3 {
	font-size: 1.1rem;
	font-style: italic;
	line-height: 1;
	margin: 1rem 0 0 0;
	display: block;
}

/* REAR MATTER */
/* References */
div.csl-bib-body {
	margin-left:0em;
	max-width: 40rem;
}
div.csl-entry {
	clear: both;
}
.hanging-indent div.csl-entry {
	font-size: .9rem;
	font-weight: 300;
	line-height: 1.3;
	margin-left:2em;
	margin-bottom: 1rem;
	text-indent:-2em;
	& a:link {
		color: #002D72 !important;
	}
	& a:visited {
		color: #002D72 !important;
	}
	& a:hover {
		color: #4b9cd3 !important;
	}
	& a:active {
		color: #002D72 !important;
	}
}
div.csl-left-margin {
	min-width:2em;
	float:left;
}
div.csl-right-inline {
	margin-left:2em;
	padding-left:1em;
}
div.csl-indent {
	margin-left: 0em;
}

/* FOOTER */
footer {
	font-family: "Adelle-Sans",sans-serif;
	color: #424949;
	font-size: .825rem;
	background: #eeeeee;
}
footer.footer .nav-footer, #quarto-header > nav {
	background: #eeeeee;
}
.nav-footer {
	min-height: 1rem;
	background: #eeeeee;
}
.nav-footer-center {
	text-align: center;
	min-height: 1rem;
}
/* Icons */
.fa-classic, .fa-regular, .fa-solid, .far, .fas {
	font-family: "Font Awesome 6 Free";
	color: #800000;
	font-style: normal;
	font-weight: 900;
	line-height: 1;
	font-variant: normal;
	text-rendering: auto;
	display: var(--fa-display,inline-block);
}
.center-icon {
	color: #800000;
	text-align: center;
	margin: 0 auto 0 auto;
	width: 100%;
	display: block;
}
.center-icon-large {
	color: #800000;
	font-size: 1.25rem;
	text-align: center;
	margin: 0 auto 0 auto;
	width: 100%;
	display: block;
}

/* SPANS */
.theme-color {
	color: #800000;
}
.margin-note-style { 
	font-family: "Adelle-Sans",sans-serif;
	color: #006400;
	font-weight: 300;
}
.small-caps-text {
	font-variant: small-caps;
}
.small-size {
	font-size: 0.9rem;
}
.center {
	text-align: center;
}
.sans-font {
	font-family: "Adelle-Sans",sans-serif;
	font-style: normal;
}
.mono-font {
	font-family: "LFT-Etica Mono",monospace;
	font-weight: 400;
	font-size: .9rem;
	font-style: normal;
}
.mono-font-smaller {
	font-family: "LFT-Etica Mono",monospace;
	font-weight: 400;
	font-size: .7rem;
	font-style: normal;
}
.japanese {
	font-family: "Noto Sans JP",sans-serif;
	font-weight: 400;
	font-style: normal;
}
.button {
	display: inline-block;
	background: #fffff8;
	border-radius: 4px;
	font-family: "Adelle Sans";
	font-size: 80%;
	color: #191919;
	padding: 4px 6px;
}

/* 404 PAGE */
.gevalt {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.gevalt-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	width: 50%;
}
.gevalt-caption {
	font-family: "Literata",serif;
	color: #800000;
	font-weight: 300;
	font-size: .9rem;
	font-style: italic;
	text-align: center;
	margin: 1rem 0 0 0;
	width: 100%;
	display: block;
}

/* TUFTE STYLES */

/* Margin content */
.column-margin {
	color: #191919;
	font-size: .625rem;
}
.column-margin figcaption, .margin-caption {
	font-family: "Adelle-Sans",sans-serif;
	color: #191919;
	font-size: .625rem;
}
/* Side note */
.citation a, .footnote-ref {
	text-decoration: none;
}
.citation a, .footnote-ref::before {
	content: '[';
	vertical-align: super;
	font-size: smaller;
}
.citation a, .footnote-ref::after {
	content: ']';
	vertical-align: super;
	font-size: smaller;
}
.column-margin.column-container p {
	font-size: .625rem;
	line-height: 1.2;
	margin: 0 0 .2rem 0;
}
/* Margin note */
.margin-aside, div.aside, aside { 
	font-family: "Adelle-Sans",sans-serif;
	color: #006400;
	font-weight: 300;
}

/* Sidebar */
#quarto-sidebar {
	background: transparent;
}
#quarto-sidebar.show {
	background: #fffaf0;
	transition: width .15s ease-out;
}
.sidebar {
	font-family: "Adelle-Sans",sans-serif;
	
}
/* Hide scrollbar for Chrome, Safari and Opera */
.sidebar::-webkit-scrollbar {
	display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.sidebar {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
.sidebar-navigation li a {
	font-family: "Literata",serif;
	color: #333333;
	font-size: .8rem;
	font-weight: 300;
	text-decoration: none;
	text-transform: none;
}
.sidebar-item-container .chapter-number {
	color: inherit;
	font-size: .7rem;
}
.title .chapter-number {
	color: inherit; 
	font-size: 1rem;
	margin-right: 2rem;
}
.header-section-number {
	color: inherit; 
	font-size: inherit;
	margin-right: .5rem;
}
header .chapter-title {
	text-transform: none;
	font-size: 1rem;
	letter-spacing: normal;
}
.navbar-brand {
	font-family: "Adelle-Sans",sans-serif;
	color: #800000; 
	font-style: normal;
	text-transform: uppercase;
	line-height: 1.5rem;
}
.navbar-brand > a {
	color: #800000; 
}
.navbar-brand a:visited {
	color: #800000;
}
.navbar-brand a:active {
	color: #800000;
}
.navbar-title {
	color: #800000;
	font-size: .8rem;
}
.menu-text {
	color: #800000;
}
.navbar-nav .dropdown-menu {
	font-size: .8rem;
	color: #800000;
}
.dropdown-text {
	color: #800000;
}

.sidebar-title .sidebar-tools-main {
	margin-top: .5rem;

}
.sidebar-tools-main {
	display: flex;
	margin: 2rem 0 0 0;
	order: 2;
}
.sidebar nav[role=doc-toc] ul {
	font-size: .8rem;
}
.sidebar nav[role=doc-toc] ul>li>a.active {
	border-left: 1px solid #800000;
	color: #800000 !important;
}
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
	border-left: 1px solid #800000;
	color: #800000 !important;
}
.sidebar-title {
	font-family: "Adelle-Sans",sans-serif;
	color: #800000; 
	font-size: .7rem;
	font-style: normal;
	line-height: 1.12rem;
	text-transform: uppercase;
	letter-spacing: .11em;
	margin-top: .25rem;
	padding-bottom: .5rem;
	visibility: visible;
}
.sidebar-title > a {
	color: #800000; 
	font-size: inherit;
	text-decoration: none;
}
.sidebar-title a:visited {
	color: #800000;
}
.sidebar-title a:active {
	color: #800000;
}

.quarto-secondary-nav-title, .title {
	font-family: "Adelle-Sans",sans-serif;
	color: #800000; 
	font-size: 1.5rem;
	font-style: normal;
	line-height: 1.25em; 
	text-transform: uppercase;
	letter-spacing: .125em;
	padding-top: .825rem
	
}
.quarto-secondary-nav-title {
	font-size: 1.1rem;
}
div.sidebar-item-container .active, div.sidebar-item-container :hover, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
	color: #800000;
}
nav[role=doc-toc] {
	padding-bottom: 100px;
}

/* Figures & Images */
#fig-cover img {
	background-color: #fffaf0;
	border: 1px solid #191919;
}
.figure-img {
	max-width: 100%;
	max-height: 65vh;
	margin: 0 auto 0 auto;
}
.quarto-figure {
	position: relative;
	max-width: 100%;
	margin: 1.5rem auto 1.5rem auto;
}
figure > p:first-child {
	max-width: 100%;
	margin: 0 auto 0 auto;
}
.quarto-figure > figure {
	max-width: 100%;
	margin: 0 auto 0 auto;
}
.panel-caption, .figure-caption, figcaption {
	color: #191919;
	font-size: .825rem;
	text-align: center;
	margin-bottom: .825rem;
}
figcaption {
	font-family: "Adelle-Sans",sans-serif;
	color: #191919;
	font-size: .7rem;
	text-align: center;
	max-width: 50%;
	margin: 0 auto 0 auto;
}
img {
	vertical-align: middle;
}

.img-fluid {
	max-width: 100%;
	height: auto;
	margin: .5rem 0 .25rem 0;
}
