:root {
	--quarto-scss-export-gray-300: #dee2e6;
	--quarto-scss-export-gray-500: #adb5bd;
	--quarto-scss-export-gray-600: #6c757d;
	--quarto-scss-export-gray-800: #343a40;
	--quarto-scss-export-card-cap-bg: rgba(52, 58, 64, 0.25);
	--quarto-scss-export-border-color: #dee2e6;
	--quarto-scss-export-text-muted: #6c757d;
	--quarto-scss-export-btn-code-copy-color: #5E5E5E;
	--quarto-scss-export-btn-code-copy-color-active: #4758AB;
	--quarto-scss-export-sidebar-bg: #fff;
	--quarto-scss-export-blue: #0d6efd;
	--quarto-scss-export-primary: #0d6efd;
	--quarto-scss-export-white: #ffffff;
	--quarto-scss-export-gray-200: #e9ecef;
	--quarto-scss-export-gray-100: #f8f9fa;
	--quarto-scss-export-gray-900: #212529;
	--quarto-scss-export-link-color-bg: transparent;
	--quarto-scss-export-code-color: #7d12ba;
	--quarto-scss-export-code-bg: #f8f9fa;
	--quarto-scss-export-toc-inactive-border: #e9ecef;
	--quarto-scss-export-navbar-default: #517699;
	--quarto-scss-export-navbar-hl-override: false;
	--quarto-scss-export-navbar-bg: #517699;
	--quarto-scss-export-btn-bg: #6c757d;
	--quarto-scss-export-btn-fg: rgb(253.53, 253.62, 253.7);
	--quarto-scss-export-body-contrast-bg: #ffffff;
	--quarto-scss-export-body-contrast-color: #212529;
	--quarto-scss-export-navbar-fg: rgb(253.26, 253.63, 253.98);
	--quarto-scss-export-navbar-hl: rgb(252.58, 253.55, 254.98);
	--quarto-scss-export-navbar-brand: rgb(253.26, 253.63, 253.98);
	--quarto-scss-export-navbar-brand-hl: rgb(252.58, 253.55, 254.98);
	--quarto-scss-export-navbar-toggler-border-color: rgba(253.26, 253.63, 253.98, 0);
	--quarto-scss-export-navbar-hover-color: rgba(252.58, 253.55, 254.98, 0.8);
	--quarto-scss-export-navbar-disabled-color: rgba(253.26, 253.63, 253.98, 0.75);
	--quarto-scss-export-sidebar-fg: rgb(89.25, 89.25, 89.25);
	--quarto-scss-export-title-block-color: #212529;
	--quarto-scss-export-title-block-contast-color: #ffffff;
	--quarto-scss-export-footer-bg: #fff;
	--quarto-scss-export-footer-fg: rgb(117.3, 117.3, 117.3);
	--quarto-scss-export-popover-bg: #ffffff;
	--quarto-scss-export-input-bg: #ffffff;
	--quarto-scss-export-input-border-color: #dee2e6;
	--quarto-scss-export-code-annotation-higlight-color: rgba(170, 170, 170, 0.2666666667);
	--quarto-scss-export-code-annotation-higlight-bg: rgba(170, 170, 170, 0.1333333333);
	--quarto-scss-export-table-group-separator-color: #909294;
	--quarto-scss-export-table-group-separator-color-lighter: rgb(210.6, 211.4, 212.2);
	--quarto-scss-export-link-decoration: underline;
	--quarto-scss-export-table-border-color: #dee2e6;
	--quarto-scss-export-sidebar-glass-bg: rgba(102, 102, 102, 0.4);
	--quarto-scss-export-gray-400: #ced4da;
	--quarto-scss-export-gray-700: #495057;
	--quarto-scss-export-black: #000;
	--quarto-scss-export-indigo: #6610f2;
	--quarto-scss-export-purple: #6f42c1;
	--quarto-scss-export-pink: #d63384;
	--quarto-scss-export-red: #dc3545;
	--quarto-scss-export-orange: #fd7e14;
	--quarto-scss-export-yellow: #ffc107;
	--quarto-scss-export-green: #198754;
	--quarto-scss-export-teal: #20c997;
	--quarto-scss-export-cyan: #0dcaf0;
	--quarto-scss-export-color-contrast-dark: #000;
	--quarto-scss-export-color-contrast-light: #ffffff;
	--quarto-scss-export-blue-100: rgb(206.6, 226, 254.6);
	--quarto-scss-export-blue-200: rgb(158.2, 197, 254.2);
	--quarto-scss-export-blue-300: rgb(109.8, 168, 253.8);
	--quarto-scss-export-blue-400: rgb(61.4, 139, 253.4);
	--quarto-scss-export-blue-500: #0d6efd;
	--quarto-scss-export-blue-600: rgb(10.4, 88, 202.4);
	--quarto-scss-export-blue-700: rgb(7.8, 66, 151.8);
	--quarto-scss-export-blue-800: rgb(5.2, 44, 101.2);
	--quarto-scss-export-blue-900: rgb(2.6, 22, 50.6);
	--quarto-scss-export-indigo-100: rgb(224.4, 207.2, 252.4);
	--quarto-scss-export-indigo-200: rgb(193.8, 159.4, 249.8);
	--quarto-scss-export-indigo-300: rgb(163.2, 111.6, 247.2);
	--quarto-scss-export-indigo-400: rgb(132.6, 63.8, 244.6);
	--quarto-scss-export-indigo-500: #6610f2;
	--quarto-scss-export-indigo-600: rgb(81.6, 12.8, 193.6);
	--quarto-scss-export-indigo-700: rgb(61.2, 9.6, 145.2);
	--quarto-scss-export-indigo-800: rgb(40.8, 6.4, 96.8);
	--quarto-scss-export-indigo-900: rgb(20.4, 3.2, 48.4);
	--quarto-scss-export-purple-100: rgb(226.2, 217.2, 242.6);
	--quarto-scss-export-purple-200: rgb(197.4, 179.4, 230.2);
	--quarto-scss-export-purple-300: rgb(168.6, 141.6, 217.8);
	--quarto-scss-export-purple-400: rgb(139.8, 103.8, 205.4);
	--quarto-scss-export-purple-500: #6f42c1;
	--quarto-scss-export-purple-600: rgb(88.8, 52.8, 154.4);
	--quarto-scss-export-purple-700: rgb(66.6, 39.6, 115.8);
	--quarto-scss-export-purple-800: rgb(44.4, 26.4, 77.2);
	--quarto-scss-export-purple-900: rgb(22.2, 13.2, 38.6);
	--quarto-scss-export-pink-100: rgb(246.8, 214.2, 230.4);
	--quarto-scss-export-pink-200: rgb(238.6, 173.4, 205.8);
	--quarto-scss-export-pink-300: rgb(230.4, 132.6, 181.2);
	--quarto-scss-export-pink-400: rgb(222.2, 91.8, 156.6);
	--quarto-scss-export-pink-500: #d63384;
	--quarto-scss-export-pink-600: rgb(171.2, 40.8, 105.6);
	--quarto-scss-export-pink-700: rgb(128.4, 30.6, 79.2);
	--quarto-scss-export-pink-800: rgb(85.6, 20.4, 52.8);
	--quarto-scss-export-pink-900: rgb(42.8, 10.2, 26.4);
	--quarto-scss-export-red-100: rgb(248, 214.6, 217.8);
	--quarto-scss-export-red-200: rgb(241, 174.2, 180.6);
	--quarto-scss-export-red-300: rgb(234, 133.8, 143.4);
	--quarto-scss-export-red-400: rgb(227, 93.4, 106.2);
	--quarto-scss-export-red-500: #dc3545;
	--quarto-scss-export-red-600: rgb(176, 42.4, 55.2);
	--quarto-scss-export-red-700: rgb(132, 31.8, 41.4);
	--quarto-scss-export-red-800: rgb(88, 21.2, 27.6);
	--quarto-scss-export-red-900: rgb(44, 10.6, 13.8);
	--quarto-scss-export-orange-100: rgb(254.6, 229.2, 208);
	--quarto-scss-export-orange-200: rgb(254.2, 203.4, 161);
	--quarto-scss-export-orange-300: rgb(253.8, 177.6, 114);
	--quarto-scss-export-orange-400: rgb(253.4, 151.8, 67);
	--quarto-scss-export-orange-500: #fd7e14;
	--quarto-scss-export-orange-600: rgb(202.4, 100.8, 16);
	--quarto-scss-export-orange-700: rgb(151.8, 75.6, 12);
	--quarto-scss-export-orange-800: rgb(101.2, 50.4, 8);
	--quarto-scss-export-orange-900: rgb(50.6, 25.2, 4);
	--quarto-scss-export-yellow-100: rgb(255, 242.6, 205.4);
	--quarto-scss-export-yellow-200: rgb(255, 230.2, 155.8);
	--quarto-scss-export-yellow-300: rgb(255, 217.8, 106.2);
	--quarto-scss-export-yellow-400: rgb(255, 205.4, 56.6);
	--quarto-scss-export-yellow-500: #ffc107;
	--quarto-scss-export-yellow-600: rgb(204, 154.4, 5.6);
	--quarto-scss-export-yellow-700: rgb(153, 115.8, 4.2);
	--quarto-scss-export-yellow-800: rgb(102, 77.2, 2.8);
	--quarto-scss-export-yellow-900: rgb(51, 38.6, 1.4);
	--quarto-scss-export-green-100: rgb(209, 231, 220.8);
	--quarto-scss-export-green-200: rgb(163, 207, 186.6);
	--quarto-scss-export-green-300: rgb(117, 183, 152.4);
	--quarto-scss-export-green-400: rgb(71, 159, 118.2);
	--quarto-scss-export-green-500: #198754;
	--quarto-scss-export-green-600: rgb(20, 108, 67.2);
	--quarto-scss-export-green-700: rgb(15, 81, 50.4);
	--quarto-scss-export-green-800: rgb(10, 54, 33.6);
	--quarto-scss-export-green-900: rgb(5, 27, 16.8);
	--quarto-scss-export-teal-100: rgb(210.4, 244.2, 234.2);
	--quarto-scss-export-teal-200: rgb(165.8, 233.4, 213.4);
	--quarto-scss-export-teal-300: rgb(121.2, 222.6, 192.6);
	--quarto-scss-export-teal-400: rgb(76.6, 211.8, 171.8);
	--quarto-scss-export-teal-500: #20c997;
	--quarto-scss-export-teal-600: rgb(25.6, 160.8, 120.8);
	--quarto-scss-export-teal-700: rgb(19.2, 120.6, 90.6);
	--quarto-scss-export-teal-800: rgb(12.8, 80.4, 60.4);
	--quarto-scss-export-teal-900: rgb(6.4, 40.2, 30.2);
	--quarto-scss-export-cyan-100: rgb(206.6, 244.4, 252);
	--quarto-scss-export-cyan-200: rgb(158.2, 233.8, 249);
	--quarto-scss-export-cyan-300: rgb(109.8, 223.2, 246);
	--quarto-scss-export-cyan-400: rgb(61.4, 212.6, 243);
	--quarto-scss-export-cyan-500: #0dcaf0;
	--quarto-scss-export-cyan-600: rgb(10.4, 161.6, 192);
	--quarto-scss-export-cyan-700: rgb(7.8, 121.2, 144);
	--quarto-scss-export-cyan-800: rgb(5.2, 80.8, 96);
	--quarto-scss-export-cyan-900: rgb(2.6, 40.4, 48);
	--quarto-scss-export-default: #dee2e6;
	--quarto-scss-export-secondary: #6c757d;
	--quarto-scss-export-success: #198754;
	--quarto-scss-export-info: #0dcaf0;
	--quarto-scss-export-warning: #ffc107;
	--quarto-scss-export-danger: #dc3545;
	--quarto-scss-export-light: #f8f9fa;
	--quarto-scss-export-dark: #212529;
	--quarto-scss-export-primary-text-emphasis: rgb(5.2, 44, 101.2);
	--quarto-scss-export-secondary-text-emphasis: rgb(43.2, 46.8, 50);
	--quarto-scss-export-success-text-emphasis: rgb(10, 54, 33.6);
	--quarto-scss-export-info-text-emphasis: rgb(5.2, 80.8, 96);
	--quarto-scss-export-warning-text-emphasis: rgb(102, 77.2, 2.8);
	--quarto-scss-export-danger-text-emphasis: rgb(88, 21.2, 27.6);
	--quarto-scss-export-light-text-emphasis: #495057;
	--quarto-scss-export-dark-text-emphasis: #495057;
	--quarto-scss-export-primary-bg-subtle: rgb(206.6, 226, 254.6);
	--quarto-scss-export-secondary-bg-subtle: rgb(225.6, 227.4, 229);
	--quarto-scss-export-success-bg-subtle: rgb(209, 231, 220.8);
	--quarto-scss-export-info-bg-subtle: rgb(206.6, 244.4, 252);
	--quarto-scss-export-warning-bg-subtle: rgb(255, 242.6, 205.4);
	--quarto-scss-export-danger-bg-subtle: rgb(248, 214.6, 217.8);
	--quarto-scss-export-light-bg-subtle: rgb(251.5, 252, 252.5);
	--quarto-scss-export-dark-bg-subtle: #ced4da;
	--quarto-scss-export-primary-border-subtle: rgb(158.2, 197, 254.2);
	--quarto-scss-export-secondary-border-subtle: rgb(196.2, 199.8, 203);
	--quarto-scss-export-success-border-subtle: rgb(163, 207, 186.6);
	--quarto-scss-export-info-border-subtle: rgb(158.2, 233.8, 249);
	--quarto-scss-export-warning-border-subtle: rgb(255, 230.2, 155.8);
	--quarto-scss-export-danger-border-subtle: rgb(241, 174.2, 180.6);
	--quarto-scss-export-light-border-subtle: #e9ecef;
	--quarto-scss-export-dark-border-subtle: #adb5bd;
	--quarto-scss-export-body-text-align: ;
	--quarto-scss-export-body-color: #212529;
	--quarto-scss-export-body-bg: FloralWhite;
	--quarto-scss-export-body-secondary-color: rgba(33, 37, 41, 0.75);
	--quarto-scss-export-body-secondary-bg: #e9ecef;
	--quarto-scss-export-body-tertiary-color: rgba(33, 37, 41, 0.5);
	--quarto-scss-export-body-tertiary-bg: #f8f9fa;
	--quarto-scss-export-body-emphasis-color: #000;
	--quarto-scss-export-link-hover-color: rgb(10.4, 88, 202.4);
	--quarto-scss-export-link-hover-decoration: ;
	--quarto-scss-export-border-color-translucent: rgba(0, 0, 0, 0.175);
	--quarto-scss-export-component-active-bg: #0d6efd;
	--quarto-scss-export-component-active-color: #ffffff;
	--quarto-scss-export-focus-ring-color: rgba(13, 110, 253, 0.25);
	--quarto-scss-export-headings-font-family: ;
	--quarto-scss-export-headings-font-style: ;
	--quarto-scss-export-display-font-family: ;
	--quarto-scss-export-display-font-style: ;
	--quarto-scss-export-blockquote-footer-color: #6c757d;
	--quarto-scss-export-blockquote-border-color: #e9ecef;
	--quarto-scss-export-hr-bg-color: ;
	--quarto-scss-export-hr-height: ;
	--quarto-scss-export-hr-border-color: ;
	--quarto-scss-export-legend-font-weight: ;
	--quarto-scss-export-mark-bg: rgb(255, 242.6, 205.4);
	--quarto-scss-export-table-color: #212529;
	--quarto-scss-export-table-bg: #ffffff;
	--quarto-scss-export-table-accent-bg: transparent;
	--quarto-scss-export-table-th-font-weight: ;
	--quarto-scss-export-table-striped-color: #212529;
	--quarto-scss-export-table-striped-bg: rgba(0, 0, 0, 0.05);
	--quarto-scss-export-table-active-color: #212529;
	--quarto-scss-export-table-active-bg: rgba(0, 0, 0, 0.1);
	--quarto-scss-export-table-hover-color: #212529;
	--quarto-scss-export-table-hover-bg: rgba(0, 0, 0, 0.075);
	--quarto-scss-export-table-caption-color: rgba(33, 37, 41, 0.75);
	--quarto-scss-export-input-btn-font-family: ;
	--quarto-scss-export-input-btn-focus-color: rgba(13, 110, 253, 0.25);
	--quarto-scss-export-btn-color: #212529;
	--quarto-scss-export-btn-font-family: ;
	--quarto-scss-export-btn-white-space: ;
	--quarto-scss-export-btn-link-hover-color: rgb(10.4, 88, 202.4);
	--quarto-scss-export-btn-link-disabled-color: #6c757d;
	--quarto-scss-export-form-text-font-style: ;
	--quarto-scss-export-form-text-font-weight: ;
	--quarto-scss-export-form-text-color: rgba(33, 37, 41, 0.75);
	--quarto-scss-export-form-label-font-size: ;
	--quarto-scss-export-form-label-font-style: ;
	--quarto-scss-export-form-label-font-weight: ;
	--quarto-scss-export-form-label-color: ;
	--quarto-scss-export-input-font-family: ;
	--quarto-scss-export-input-disabled-color: ;
	--quarto-scss-export-input-disabled-bg: #e9ecef;
	--quarto-scss-export-input-disabled-border-color: ;
	--quarto-scss-export-input-color: #212529;
	--quarto-scss-export-input-focus-bg: #ffffff;
	--quarto-scss-export-input-focus-border-color: rgb(134, 182.5, 254);
	--quarto-scss-export-input-focus-color: #212529;
	--quarto-scss-export-input-placeholder-color: rgba(33, 37, 41, 0.75);
	--quarto-scss-export-input-plaintext-color: #212529;
	--quarto-scss-export-form-check-label-color: ;
	--quarto-scss-export-form-check-transition: ;
	--quarto-scss-export-form-check-input-bg: #ffffff;
	--quarto-scss-export-form-check-input-focus-border: rgb(134, 182.5, 254);
	--quarto-scss-export-form-check-input-checked-color: #ffffff;
	--quarto-scss-export-form-check-input-checked-bg-color: #0d6efd;
	--quarto-scss-export-form-check-input-checked-border-color: #0d6efd;
	--quarto-scss-export-form-check-input-indeterminate-color: #ffffff;
	--quarto-scss-export-form-check-input-indeterminate-bg-color: #0d6efd;
	--quarto-scss-export-form-check-input-indeterminate-border-color: #0d6efd;
	--quarto-scss-export-form-switch-color: rgba(0, 0, 0, 0.25);
	--quarto-scss-export-form-switch-focus-color: rgb(134, 182.5, 254);
	--quarto-scss-export-form-switch-checked-color: #ffffff;
	--quarto-scss-export-input-group-addon-color: #212529;
	--quarto-scss-export-input-group-addon-bg: #f8f9fa;
	--quarto-scss-export-input-group-addon-border-color: #dee2e6;
	--quarto-scss-export-form-select-font-family: ;
	--quarto-scss-export-form-select-color: #212529;
	--quarto-scss-export-form-select-bg: #ffffff;
	--quarto-scss-export-form-select-disabled-color: ;
	--quarto-scss-export-form-select-disabled-bg: #e9ecef;
	--quarto-scss-export-form-select-disabled-border-color: ;
	--quarto-scss-export-form-select-indicator-color: #343a40;
	--quarto-scss-export-form-select-border-color: #dee2e6;
	--quarto-scss-export-form-select-focus-border-color: rgb(134, 182.5, 254);
	--quarto-scss-export-form-range-track-bg: #f8f9fa;
	--quarto-scss-export-form-range-thumb-bg: #0d6efd;
	--quarto-scss-export-form-range-thumb-active-bg: rgb(182.4, 211.5, 254.4);
	--quarto-scss-export-form-range-thumb-disabled-bg: rgba(33, 37, 41, 0.75);
	--quarto-scss-export-form-file-button-color: #212529;
	--quarto-scss-export-form-file-button-bg: #f8f9fa;
	--quarto-scss-export-form-file-button-hover-bg: #e9ecef;
	--quarto-scss-export-form-floating-label-disabled-color: #6c757d;
	--quarto-scss-export-form-feedback-font-style: ;
	--quarto-scss-export-form-feedback-valid-color: #198754;
	--quarto-scss-export-form-feedback-invalid-color: #dc3545;
	--quarto-scss-export-form-feedback-icon-valid-color: #198754;
	--quarto-scss-export-form-feedback-icon-invalid-color: #dc3545;
	--quarto-scss-export-form-valid-color: #198754;
	--quarto-scss-export-form-valid-border-color: #198754;
	--quarto-scss-export-form-invalid-color: #dc3545;
	--quarto-scss-export-form-invalid-border-color: #dc3545;
	--quarto-scss-export-nav-link-font-size: ;
	--quarto-scss-export-nav-link-font-weight: ;
	--quarto-scss-export-nav-link-hover-color: rgb(10.4, 88, 202.4);
	--quarto-scss-export-nav-link-disabled-color: rgba(33, 37, 41, 0.75);
	--quarto-scss-export-nav-tabs-border-color: #dee2e6;
	--quarto-scss-export-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
	--quarto-scss-export-nav-tabs-link-active-color: #000;
	--quarto-scss-export-nav-tabs-link-active-bg: #ffffff;
	--quarto-scss-export-nav-pills-link-active-bg: #0d6efd;
	--quarto-scss-export-nav-pills-link-active-color: #ffffff;
	--quarto-scss-export-nav-underline-link-active-color: #000;
	--quarto-scss-export-navbar-padding-x: ;
	--quarto-scss-export-navbar-light-contrast: #ffffff;
	--quarto-scss-export-navbar-dark-contrast: #ffffff;
	--quarto-scss-export-navbar-light-icon-color: rgba(255, 255, 255, 0.75);
	--quarto-scss-export-navbar-dark-icon-color: rgba(255, 255, 255, 0.75);
	--quarto-scss-export-dropdown-color: #212529;
	--quarto-scss-export-dropdown-bg: #ffffff;
	--quarto-scss-export-dropdown-border-color: rgba(0, 0, 0, 0.175);
	--quarto-scss-export-dropdown-divider-bg: rgba(0, 0, 0, 0.175);
	--quarto-scss-export-dropdown-link-color: #212529;
	--quarto-scss-export-dropdown-link-hover-color: #212529;
	--quarto-scss-export-dropdown-link-hover-bg: #f8f9fa;
	--quarto-scss-export-dropdown-link-active-bg: #0d6efd;
	--quarto-scss-export-dropdown-link-active-color: #ffffff;
	--quarto-scss-export-dropdown-link-disabled-color: rgba(33, 37, 41, 0.5);
	--quarto-scss-export-dropdown-header-color: #6c757d;
	--quarto-scss-export-dropdown-dark-color: #dee2e6;
	--quarto-scss-export-dropdown-dark-bg: #343a40;
	--quarto-scss-export-dropdown-dark-border-color: rgba(0, 0, 0, 0.175);
	--quarto-scss-export-dropdown-dark-divider-bg: rgba(0, 0, 0, 0.175);
	--quarto-scss-export-dropdown-dark-box-shadow: ;
	--quarto-scss-export-dropdown-dark-link-color: #dee2e6;
	--quarto-scss-export-dropdown-dark-link-hover-color: #ffffff;
	--quarto-scss-export-dropdown-dark-link-hover-bg: rgba(255, 255, 255, 0.15);
	--quarto-scss-export-dropdown-dark-link-active-color: #ffffff;
	--quarto-scss-export-dropdown-dark-link-active-bg: #0d6efd;
	--quarto-scss-export-dropdown-dark-link-disabled-color: #adb5bd;
	--quarto-scss-export-dropdown-dark-header-color: #adb5bd;
	--quarto-scss-export-pagination-bg: #ffffff;
	--quarto-scss-export-pagination-border-color: #dee2e6;
	--quarto-scss-export-pagination-focus-color: rgb(10.4, 88, 202.4);
	--quarto-scss-export-pagination-focus-bg: #e9ecef;
	--quarto-scss-export-pagination-hover-color: rgb(10.4, 88, 202.4);
	--quarto-scss-export-pagination-hover-bg: #f8f9fa;
	--quarto-scss-export-pagination-hover-border-color: #dee2e6;
	--quarto-scss-export-pagination-active-color: #ffffff;
	--quarto-scss-export-pagination-active-bg: #0d6efd;
	--quarto-scss-export-pagination-active-border-color: #0d6efd;
	--quarto-scss-export-pagination-disabled-color: rgba(33, 37, 41, 0.75);
	--quarto-scss-export-pagination-disabled-bg: #e9ecef;
	--quarto-scss-export-pagination-disabled-border-color: #dee2e6;
	--quarto-scss-export-card-title-color: ;
	--quarto-scss-export-card-subtitle-color: ;
	--quarto-scss-export-card-border-color: rgba(0, 0, 0, 0.175);
	--quarto-scss-export-card-box-shadow: ;
	--quarto-scss-export-card-cap-color: ;
	--quarto-scss-export-card-height: ;
	--quarto-scss-export-card-color: ;
	--quarto-scss-export-card-bg: #ffffff;
	--quarto-scss-export-accordion-color: #212529;
	--quarto-scss-export-accordion-bg: #ffffff;
	--quarto-scss-export-accordion-border-color: #dee2e6;
	--quarto-scss-export-accordion-button-color: #212529;
	--quarto-scss-export-accordion-button-bg: #ffffff;
	--quarto-scss-export-accordion-button-active-bg: rgb(206.6, 226, 254.6);
	--quarto-scss-export-accordion-button-active-color: rgb(5.2, 44, 101.2);
	--quarto-scss-export-accordion-button-focus-border-color: rgb(134, 182.5, 254);
	--quarto-scss-export-accordion-icon-color: #212529;
	--quarto-scss-export-accordion-icon-active-color: rgb(5.2, 44, 101.2);
	--quarto-scss-export-tooltip-color: #ffffff;
	--quarto-scss-export-tooltip-bg: #000;
	--quarto-scss-export-tooltip-margin: ;
	--quarto-scss-export-tooltip-arrow-color: ;
	--quarto-scss-export-form-feedback-tooltip-line-height: ;
	--quarto-scss-export-popover-border-color: rgba(0, 0, 0, 0.175);
	--quarto-scss-export-popover-header-bg: #e9ecef;
	--quarto-scss-export-popover-body-color: #212529;
	--quarto-scss-export-popover-arrow-color: #ffffff;
	--quarto-scss-export-popover-arrow-outer-color: rgba(0, 0, 0, 0.175);
	--quarto-scss-export-toast-color: ;
	--quarto-scss-export-toast-background-color: rgba(255, 255, 255, 0.85);
	--quarto-scss-export-toast-border-color: rgba(0, 0, 0, 0.175);
	--quarto-scss-export-toast-header-color: rgba(33, 37, 41, 0.75);
	--quarto-scss-export-toast-header-background-color: rgba(255, 255, 255, 0.85);
	--quarto-scss-export-toast-header-border-color: rgba(0, 0, 0, 0.175);
	--quarto-scss-export-badge-color: #ffffff;
	--quarto-scss-export-modal-content-color: ;
	--quarto-scss-export-modal-content-bg: #ffffff;
	--quarto-scss-export-modal-content-border-color: rgba(0, 0, 0, 0.175);
	--quarto-scss-export-modal-backdrop-bg: #000;
	--quarto-scss-export-modal-header-border-color: #dee2e6;
	--quarto-scss-export-modal-footer-bg: ;
	--quarto-scss-export-modal-footer-border-color: #dee2e6;
	--quarto-scss-export-progress-bg: #e9ecef;
	--quarto-scss-export-progress-bar-color: #ffffff;
	--quarto-scss-export-progress-bar-bg: #0d6efd;
	--quarto-scss-export-list-group-color: #212529;
	--quarto-scss-export-list-group-bg: #ffffff;
	--quarto-scss-export-list-group-border-color: #dee2e6;
	--quarto-scss-export-list-group-hover-bg: #f8f9fa;
	--quarto-scss-export-list-group-active-bg: #0d6efd;
	--quarto-scss-export-list-group-active-color: #ffffff;
	--quarto-scss-export-list-group-active-border-color: #0d6efd;
	--quarto-scss-export-list-group-disabled-color: rgba(33, 37, 41, 0.75);
	--quarto-scss-export-list-group-disabled-bg: #ffffff;
	--quarto-scss-export-list-group-action-color: rgba(33, 37, 41, 0.75);
	--quarto-scss-export-list-group-action-hover-color: #000;
	--quarto-scss-export-list-group-action-active-color: #212529;
	--quarto-scss-export-list-group-action-active-bg: #e9ecef;
	--quarto-scss-export-thumbnail-bg: #ffffff;
	--quarto-scss-export-thumbnail-border-color: #dee2e6;
	--quarto-scss-export-figure-caption-color: rgba(33, 37, 41, 0.75);
	--quarto-scss-export-breadcrumb-font-size: ;
	--quarto-scss-export-breadcrumb-bg: ;
	--quarto-scss-export-breadcrumb-divider-color: rgba(33, 37, 41, 0.75);
	--quarto-scss-export-breadcrumb-active-color: rgba(33, 37, 41, 0.75);
	--quarto-scss-export-breadcrumb-border-radius: ;
	--quarto-scss-export-carousel-control-color: #ffffff;
	--quarto-scss-export-carousel-indicator-active-bg: #ffffff;
	--quarto-scss-export-carousel-caption-color: #ffffff;
	--quarto-scss-export-carousel-dark-indicator-active-bg: #000;
	--quarto-scss-export-carousel-dark-caption-color: #000;
	--quarto-scss-export-btn-close-color: #000;
	--quarto-scss-export-offcanvas-border-color: rgba(0, 0, 0, 0.175);
	--quarto-scss-export-offcanvas-bg-color: #ffffff;
	--quarto-scss-export-offcanvas-color: #212529;
	--quarto-scss-export-offcanvas-backdrop-bg: #000;
	--quarto-scss-export-code-color-dark: white;
	--quarto-scss-export-kbd-color: #ffffff;
	--quarto-scss-export-kbd-bg: #212529;
	--quarto-scss-export-nested-kbd-font-weight: ;
	--quarto-scss-export-pre-bg: #f8f9fa;
	--quarto-scss-export-pre-color: #000;
	--quarto-scss-export-bslib-page-sidebar-title-bg: #517699;
	--quarto-scss-export-bslib-page-sidebar-title-color: #ffffff;
	--quarto-scss-export-bslib-sidebar-bg: rgba(var(--bs-emphasis-color-rgb, 0, 0, 0), 0.05);
	--quarto-scss-export-bslib-sidebar-toggle-bg: rgba(var(--bs-emphasis-color-rgb, 0, 0, 0), 0.1);
	--quarto-scss-export-sidebar-color: rgb(89.25, 89.25, 89.25);
	--quarto-scss-export-sidebar-hover-color: rgba(9.75, 82.5, 189.75, 0.8);
	--quarto-scss-export-sidebar-disabled-color: rgba(89.25, 89.25, 89.25, 0.75);
	--quarto-scss-export-valuebox-bg-primary: #0d6efd;
	--quarto-scss-export-valuebox-bg-secondary: #6c757d;
	--quarto-scss-export-valuebox-bg-success: #198754;
	--quarto-scss-export-valuebox-bg-info: #0dcaf0;
	--quarto-scss-export-valuebox-bg-warning: #ffc107;
	--quarto-scss-export-valuebox-bg-danger: #dc3545;
	--quarto-scss-export-valuebox-bg-light: #f8f9fa;
	--quarto-scss-export-valuebox-bg-dark: #212529;
	--quarto-scss-export-mermaid-bg-color: FloralWhite;
	--quarto-scss-export-mermaid-edge-color: #6c757d;
	--quarto-scss-export-mermaid-node-fg-color: #212529;
	--quarto-scss-export-mermaid-fg-color: #212529;
	--quarto-scss-export-mermaid-fg-color--lighter: rgb(55.7432432432, 62.5, 69.2567567568);
	--quarto-scss-export-mermaid-fg-color--lightest: rgb(78.4864864865, 88, 97.5135135135);
	--quarto-scss-export-mermaid-label-bg-color: FloralWhite;
	--quarto-scss-export-mermaid-label-fg-color: #0d6efd;
	--quarto-scss-export-mermaid-node-bg-color: rgba(13, 110, 253, 0.1);
	--quarto-scss-export-code-block-border-left-color: #dee2e6;
	--quarto-scss-export-callout-color-note: #0d6efd;
	--quarto-scss-export-callout-color-tip: #198754;
	--quarto-scss-export-callout-color-important: #dc3545;
	--quarto-scss-export-callout-color-caution: #fd7e14;
	--quarto-scss-export-callout-color-warning: #ffc107;
}